<!DOCTYPE html>
<html>

<body>


 <ul class="shirts_list">

    <% shirts.each do |shirt| %>

      <li>

      <a href="/shirts/<%= shirt.id %>"><%= shirt.name %></a>
      <%= shirt.quantity %>
      <img src='<%= shirt.image %>'/>
      
      </li>

    <%end%>

</ul>

</body>

</html>