<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		setTimeout("location.href = '/shirts';", 3000);
	</script>
	
</head>
<body>
	<h1>Thanks for your purchase!</h1>
	<p>You will be redirected in 3 seconds...</p>
</body>
</html>
